<div class="url-shortener">
  <% url = @url_presenter.url %>
  <%= form_for url do |f| %>
    <%= f.text_field :original %>
    <%= f.submit "Shorten" %>
  <% end %>
</div>

<div class="search">
  <%= text_field_tag :search %>
  <%= submit_tag "Search", id: "search-button" %>
</div>

<div class="url-stats">
  <%= link_to "Sort By Popularity", root_path(sort: "popularity") %>
  <%= link_to "Sort By Date", root_path(sort: "date") %>
  <ul>
  <% @url_presenter.urls.each do |url| %>
    <li>
      <%= url.original %> | <%= link_to url.shortened_url(@url_presenter.host_with_port), short_url_path(shortened: url.shortened) %> | <%= url.count %>
    </li>
  <% end %>
</div>
