<div class="url-shortener">
  <%= form_for @url do |f| %>
    <%= f.text_field :original %>
    <%= f.submit "Shorten" %>
  <% end %>
</div>

<div class="url-stats">
  <%= link_to "Sort By Popularity", root_path(sort: "popularity") %>
  <%= link_to "Sort By Date", root_path(sort: "date") %>
  <ul>
  <% @urls.each do |url| %>
    <li>
      <%= url.original %> | <%= link_to url.shortened_url(@host_with_port), short_url_path(shortened: url.shortened) %> | <%= url.count %>
    </li>
  <% end %>
</div>
